@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

div.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100vh;
    background-color:#212624;
}

div.perfil {
    padding: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.500);
}

div.perfil img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

div.contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
    padding-top: 24px;
}

div.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid whitesmoke;
    transition: 0.4s;
}

div.contact:hover {
    box-shadow: 1px 1px 8px whitesmoke;
    background-color: #19C37D;
    animation: flutuar 1.5s infinite;
}

div.contact div.contactimage i {
    color: #19C37D;
    font-size: 2.4em;
    transition: 0.4s;
}

div.contact:hover div.contactimage i {
    color: whitesmoke;
}

div.contact h3 {
    color: white;
}

h1 {
    color: whitesmoke;
}

h2 {
    position: relative;
    padding-bottom: 3px;
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
    user-select: none;
}

h2::after {
    content: '';
    position: absolute;
    text-align: center;
    width: 50%;
    left: 25%;
    bottom: 0;
    color: whitesmoke;
    border-bottom: 4px solid #19C37D;
    transition: width 0.5s ease, left 0.5s ease; 
}

h2:hover::after {
    width: 100%;
    left: 0%;
}

a {
    text-decoration: none;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}